# Project exclude paths
/.gradle/
/.idea/
/radle-version/
/build/
/build/classes/java/main/
*.properties
*.log
*.gz
/src/main/resources/application-oauth.yml
/src/main/resources/application-stgdb.yml
/src/main/resources/application-devdb.yml
/src/main/resources/application-realdb.yml
#/src/test/
*.sh


