{{>layout/header}}
    <br/>

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                </div>
            </div>
            <br>
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종수정일</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container" >
        구글 뉴스는 구글이 제공하고 운영하는 무료 뉴스 애그리게이터이다. 자동 집계 알고리즘에 의해 수천 곳의 발행사로부터 최신의 정보를 선별한다. 현 총괄자는 리처드 징그러스이다. 2002년 9월 출범한 이 서비스는 2006년 1월까지 3년에 걸쳐 베타 테스트로 표기되었다. 위키백과
        제작자: 크리쉬나 바라트

        <br/>

        화면이 바뀌면 갱신 될까  진짜로변경 될까   아 설정 까다롭다
        <br/>

    </div>

{{>layout/scripts}}

{{>layout/footer}}

